<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <FausePiece.Properties.Settings>
            <setting name="Calcul10" serializeAs="String">
                <value>1,2,4,7,10,16,147,165,239,415</value>
            </setting>
            <setting name="Max10" serializeAs="String">
                <value>501</value>
            </setting>
            <setting name="MaxValue10" serializeAs="String">
                <value />
            </setting>
        </FausePiece.Properties.Settings>
    </userSettings>
</configuration>