<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <FausePiece.Properties.Settings>
            <setting name="Calcul10" serializeAs="String">
                <value>1,2,4,7,10,16,146,266,319,454</value>
            </setting>
            <setting name="Max10" serializeAs="String">
                <value>501</value>
            </setting>
        </FausePiece.Properties.Settings>
    </userSettings>
</configuration>